.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: contain;
  padding: 5px;
}

.message_info {
  padding-left: 10px;
}

.message_timestamp {
  color: gray;
  font-weight: 400;
  font-size: 14px;
}
